@using Assignment_NET105_Nhom3_Shared.Models;
@model IEnumerable< Assignment_NET105_Nhom3_Shared.Models.Products>


@{
    ViewData["Title"] = "ShowAllProducts";
}

@{
    // Ép kiểu danh sách đối tượng từ ViewData
 //   List<Products> _lstProducts = (List<Products>)ViewBag["ShowProduct"];
}
<div class="container menu">
    <img src="https://file.hstatic.net/200000312481/file/z3949119209444_8fbde8be80833559e1e4ae7477cc13af_14b8c722c505407495bd2f3c98841131.jpg" style="width:100% " />
</div>
    <div class="container menu">
    <img src="https://file.hstatic.net/200000312481/file/z3949117698340_9fe1c067c65fd89e397d86f27e9a904c_6ad273c5b80049ca85fd1a1aec326b93.jpg" style="width:100% " />
</div>
    <div class="container content">           
    <div class="row" style="margin-bottom:30px">
        @foreach (var a in ViewBag.ShowProduct)
        {
            <div class="col-md-3">
                <img src="@a.Image"
                 class="img-thumbnail " alt="Cinque Terre"><h6>@a.Name</h6>
                <center>  <h6 style="color: red;">@a.Price  <del style="color:midnightblue">230.000 đ</del></h6></center>
            </div>           
        }          
    </div>   
    </div>
