
@model Assignment_NET105_Nhom3_Shared.Models.Customer;
<div class="container giaban">
      <h4>Trang chủ > Đăng nhập>></h4>
      <hr style="border: 2px solid orangered;">   
    </div>

    @*
        <div class=" body1 container1">
        <div class="box">
            <div class="form sign_in">
                <h3>Sign In</h3>
                <span>or use your account</span>

                <form action="#" id="form_input">
                    <div class="type">
                        <input type="email" placeholder="Email" name="" id="email">

                    </div>
                    <div class="type">
                        <input type="password" placeholder="Password" name="" id="password">

                    </div>

                    <div class="forgot">
                        <span>Forgot your password?</span>
                    </div>

                    <button class="btn bkg">Sign In</button>
                </form>
            </div>
    
            <div class="form sign_up">
                <h3>Sign Up</h3>
                <span>or use your email for register</span>

                <form action="#" id="form_input">
                    <div class="type">
                        <input type="text" name="" placeholder="Name" id="name">
                    </div>
                    <div class="type">
                        <input type="text" name="" placeholder="Username" id="Username">
                    </div>
                    <div class="type">                        
                        <input type="email" name="" placeholder="Email" id="email">
                    </div>
                    <div class="type">                        
                        <input type="text" name="" placeholder="NumberPhone" id="NumberPhone">
                    </div>
                    <div class="type">                        
                        <input type="text" name="" placeholder="Address" id="Address">
                    </div>
                    <div class="type">
                        <input type="password" name="" placeholder="Password" id="password">
                    </div>

                    <button class="btn bkg">Sign Up</button>
                </form>
            </div>
        </div>

        <div class="overlay">
            <div class="page page_signIn">
                <h3>Welcome Back!</h3>
                <p>To keep with us please login with your personal info</p>

                <button class="btn btnSign-in">Sign Up <i class="bi bi-arrow-right"></i></button>
            </div>

            <div class="page page_signUp">
                <h3>Hello Friend!</h3>
                <p>Enter your personal details and start journey with us</p>

                <button class="btn btnSign-up">
                    <i class="bi bi-arrow-left"></i> Sign In</button>
            </div>
        </div>
    </div>
    

    <!-- link script -->
    <script src="main.js"></script>
    *@

      


@*
      <div class="center">
      <h1>Login</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login">
        <div class="signup_link">
          Not a member? <a href="#">Signup</a>
        </div>
      </form>
    </div>*@