 @model Assignment_NET105_Nhom3_Shared.ViewModels.RegisterUser
<div class="Login full">
	<div class=" container container1">
		<div class="form login">
			<span class="title">Sign Up</span>
			<form asp-action="Register">
				<div class="input-field">
					<input type="text" placeholder="Email" asp-for="Email">

				</div>
				<div class="input-field">
					<input type="text" placeholder="Username" asp-for="Name">

				</div>
				<div class="input-field">
					<input type="text" placeholder="User" asp-for="Username">

				</div>
				<div class="input-field">
					<input type="password" placeholder="Password" asp-for="Password">

				</div>
				<div class="input-field">
					<input type="password" placeholder="ConfirmPassword" asp-for="ConfirmPassword">

				</div>


				<div class="input-field button">
					<input type="submit" value="đăng ký">

				</div>
			</form>

		</div>
	</div>
</div>
@if (!string.IsNullOrEmpty(ViewBag.Message1))
{
	<script type="text/javascript">

		Swal.fire("@ViewBag.Message1")
	</script>
}

